[VERSION]
major =1
minor =0

[GENERAL]
atc_type ="TT:ATCCOM.ATC_NAME AIRBUS.0.text"
atc_model ="TT:ATCCOM.AC_MODEL A330.0.text"
Category = "airplane"
performance ="" 
editable = 1
wip_indicator = 2
icao_type_designator ="A333"
icao_manufacturer ="AIRBUS"
icao_model ="A-330-300"
icao_engine_type ="Jet"
icao_engine_count =2
icao_WTC ="H"
icao_generic=0

[EFFECTS]
wake = fx_wake
water = fx_spray
dirt = FX_ASOBO_TOUCHDIRT_BIG
concrete = FX_ASOBO_TOUCHCONCRETE_BIG
touchdown = FX_ASOBO_TouchDown_Big, 1
contrail = FX_ASOBO_CONTRAIL_BIG
effect.0 = FX_EXHAUST_LEFT#(A:GENERAL ENG COMBUSTION:1, boolean)#FX_ASOBO_HEAT_BIG
effect.1 = FX_EXHAUST_RIGHT#(A:GENERAL ENG COMBUSTION:2, boolean)#FX_ASOBO_HEAT_BIG


[TIMELINE.FLIGHT_RUNWAY]
Flaps = 33

[LOADING]
ImageName = LOADING_FREEFLIGHT

[EXITS]
number_of_exits = 1

; ===================== FLTSIM =====================


[SERVICES]
FUELTRUCK=1
BAGGAGE_LOADER=1
CATERING_TRUCK=1
BOARDING_RAMP=1
GROUND_POWER_UNIT=1
PUSHBACK=1
SMALL_PUSHBACK=0
MARSHALLER=1
JETWAY=1

[PILOT]
pilot = "Pilot_Male_Uniform"
copilot = "Pilot_Female_Uniform"
instructor = "Pilot_Male_Casual"
pilot_default_animation = "Idle1_PoseAirliner"
copilot_default_animation = "Idle2_PoseAirliner"
pilot_attach_node = "PILOT_0"
copilot_attach_node = "PILOT_1"

[FLTSIM.0]
Title="Airbus A330-300"
Model=""
Panel=""
Sound=""
Texture="Default"
KB_Checklists=""
KB_Reference=""
description="Serving the biggest megacities and smallest dream islands alike, Airbus’ A330-300 continues to please passengers and airlines around the world. As a twin-engine twin-aisle wide-body that can carry from 250 to 440 passengers, it is flexible enough to offer a range of seating options while consistently delivering high-quality comfort to all those on board. Its cabin also is one of the quietest in the skies, creating a calm environment for an entire flight."
wip_indicator=0
ui_manufacturer="Airbus"
ui_type="A330-300"
ui_variation="Project Mega Pack"
ui_typerole="Commercial Airliner"
ui_createdby="Microsoft Corporation, Project Mega Pack"
ui_thumbnailfile=""
ui_certified_ceiling=42651
ui_max_range=6350
ui_autonomy=12
ui_fuel_burn_rate=6040
atc_id="N123MP"
icao_airline=""
atc_id_enable=0
atc_airline=""
atc_flight_number="1123"
atc_heavy=1
atc_id_color="0x00000000"
atc_id_font=""
isAirTraffic=0
isUserSelectable=1
atc_parking_types="GATE,RAMP,CARGO"
atc_parking_codes=""
